<div class="page-container">
  <div class="left-column-layout">
    <div class="active-project" *ngIf="(threadData|async) as thread">
      <div class="project-image">
        <img ngSrc="{{imageUrl}}" alt="Project Image" width="250" height="150">
      </div>
      <h3>{{ thread?.title }}</h3>
      <app-tripcode-pill
      [author] = "thread.author"
      ></app-tripcode-pill>
    </div>
  </div>
  <div class="main-column-layout">
    <app-thread
      [threadData]="threadData"
      [threadId] = "id"
      (Comment)="onComment($event)"
    ></app-thread>
  </div>
</div>
