.tags-container{
  display:flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.tag {
  border-radius: 3px;
  padding: 2px 8px;
  margin-right: 4px;
  font-size: 0.9em;

  &::before {
    content:'[';
  }
  &::after {
    content:']';
  }
}
