<div class="comment-container">
  <div class="header">
    <div class="header-top">
      <app-tripcode-pill
        [isOp]="isOp"
        [author]="Comment.author"
      ></app-tripcode-pill>
      <div class="header-details">
        <span class="number">No.{{Comment.id}}</span>
        <span *ngIf="Comment.feverCount > 0" class="fever-count">🔥 x {{Comment.feverCount}}</span>
        <span class="datestamp">{{ Comment.date | date: 'dd/MM/YY-HH:mm a' }}</span>
      </div>
    </div>
    <span
      *ngIf="quoteNumber"
      class="quote-number"
      (click)="scrollToComment(quoteNumber)">>> {{quoteNumber}}</span>
  </div>
  <div class="content-container">
    <div class="comment-gallery" *ngIf="Comment.images?.length">
      <div class="carousel">
        <button
          class="carousel-control prev"
          *ngIf="Comment.images!.length > 1"
          (click)="prevImage()">&#8249;</button>
        <img
          [src]="imageUrl(Comment.images![currentImageIndex])"
          alt="Comment image"
          class="carousel-image"
          (click)="toggleImageModal()"
        />
        <button
          class="carousel-control next"
          *ngIf="Comment.images!.length > 1"
          (click)="nextImage()">&#8250;</button>
      </div>
      <div class="image-indicator">
        Image {{ currentImageIndex + 1 }} of {{ Comment.images!.length }}
      </div>
    </div>
    <div class="comment-content">
      <div class="text-content">
        <markdown
          [data]="Comment.content"
        ></markdown>
      </div>
    </div>
  </div>
  <div class="image-modal" *ngIf="isImageModalOpen" (click)="toggleImageModal()">
    <img [src]="imageUrl(Comment.images![currentImageIndex], true)" alt="Enlarged image" class="modal-image" />
  </div>
  <app-actions
    (Comment)="onComment($event)"
  ></app-actions>
</div>
