.comment-container{
  width: 100%;

  .comment-content{
    padding-top: 5px;
    margin-left: -5px;
  }
}
.header{
  background-color: var(--color-toolbar-bg);
  color: var(--color-fg-2);
  margin: -20px -20px 0px -20px;
  padding: 5px 10px;

  .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 5px;
  }

  .header-details {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
  }

  .number{
    justify-self: end;
    font-size: 0.8rem;
  }
  .quote-number {
    margin-left: 10px;
    color: gray;
    font-size: 0.9rem;
    cursor: pointer; /* Make it look clickable */
    text-decoration: underline;

    &:hover {
      color: blue; /* Highlight on hover */
    }
  }
  .datestamp {
    margin-left: auto;
    font-size: 0.8rem;
    color: var(--color-fg-2);
  }
  .fever-count {
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;

    .header-top {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0;
    }

    .header-details {
      flex-wrap: wrap;
      margin-top: 10px;
    }

    .header-bottom {
      justify-content: space-between;
      margin-top: 5px;
    }
  }
}
