<div class="comment-container">
  <div class="header">
    <div class="header-top">
      <app-tripcode-pill
        [isOp]="isOp"
        [author]="Comment.author"
      ></app-tripcode-pill>
      <div class="header-details">
        <span class="number">No.{{Comment.id}}</span>
        <span *ngIf="Comment.feverCount > 0" class="fever-count">🔥 x {{Comment.feverCount}}</span>
        <span class="datestamp">{{ Comment.date | date: 'dd/MM/YY-HH:mm a' }}</span>
      </div>
    </div>
    <span
      *ngIf="quoteNumber"
      class="quote-number"
      (click)="scrollToComment(quoteNumber)">>> {{quoteNumber}}</span>
  </div>
  <div class="comment-content">
    <markdown
      [data]="Comment.content"
    ></markdown>
  </div>
  <app-actions
    (Comment)="onComment($event)"
  ></app-actions>
</div>
