.comment-container{
  width: 100%;

  .comment-content{
    padding-top: 5px;
    margin-left: -5px;
  }
}
.header{
  background-color: #0000001a;
  margin: -20px -20px 0px -20px;
  padding: 5px 10px;
  display: flex;

  span{
    padding: 5px;
  }
  app-tripcode-pill{
    margin-left: -10px;
  }
  .number{
    justify-self: end;
  }
  .quote-number {
    margin-left: 10px;
    color: gray;
    font-size: 0.9rem;
    cursor: pointer; /* Make it look clickable */
    text-decoration: underline;

    &:hover {
      color: blue; /* Highlight on hover */
    }
  }
}
.fever-count {
  margin-left: auto;
}
