<div class="heads-up-banner" >
  <div class="message">
    <h3>Welcome to an app I haven't named yet</h3>
    <p>
      This is a love letter to the build thread. Those elusive and detailed threads that used to dominate the internet
      in the years past. This app is a place to share your projects, your builds, your creations, for free.
    </p>
    <p>
      No ads, no tracking, no selling your data. Just a place to share your work with the world.<br>
      No grifters, influencers, or brand ambassadors. Just real people with real projects.<br>
    </p>
    <p>
      We don't store user accounts, be as anonymous as you want. In order to differentiate yourself from others, you can
      learn how to use <a href="tripcodes">tripcodes</a>
    </p>
  </div>
</div>
