<app-heads-up-banner></app-heads-up-banner>
<div class="add-project-bar"> <p (click)="addProject()">Add Your Project Now</p> </div>
<div class="projects-container">
  <div class="project" *ngFor="let project of (projects$ | async)">
    <div class="project-container" (click)="navigate(project.id)">
      <div class="project-image">
        <img ngSrc="{{imagehost+project.imageId}}" alt="Project Image" width="250" height="150">
      </div>
      <h3 class="project-name">{{project.title}}</h3>
      <app-tripcode-pill
        [author]="project.author">
      </app-tripcode-pill>
    </div>
  </div>
</div>

