<div class="modal">
  <div class="modal-content">
    <div class="editor-content">
      <form (ngSubmit)="onSubmit()" class="modal-form" #form>
        <div>
          <input type="text" id="title" [(ngModel)]="thread.title" name="title" placeholder="Title" required>
        </div>
        <div class="editor-description">
          <textarea id="description" [(ngModel)]="thread.description" name="description" placeholder="Your Project Details"required></textarea>
        </div>
        <div>
          <input type="text" id="author" [(ngModel)]="thread.author" name="author" placeholder="Tripcode Password" required>
        </div>
        <div>
          <input type="file" id="images" (change)="onFilesSelected($event)" accept="image/*" multiple>
        </div>
        <div class="image-preview">
          <img *ngFor="let image of selectedFiles" [src]="image.preview" class="preview-image">
        </div>
      </form>
      <div>
        <label for="preview">Show Post Preview</label>
        <input type="checkbox" id="preview" #preview checked="checked" (change)="onCheck()">
      </div>
    </div>
    <div class="editor-preview" *ngIf="preview.checked">
      <h2>{{thread.title}}</h2>
      <div class="thread-item thread-description">
        <markdown [data]="thread.description"></markdown>
      </div>
    </div>
  </div>
  <button class="modal-submit" (click)="onPost(form)">Create</button>
</div>
