@import '../partials/_modal.partial.scss';

.modal-form {
  div {
    padding: 5px;
  }
}

.modal-content{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  padding: 10px;
  width: 50vw;
  height: 50vh;

  .editor-content{
    flex: 1 1 0;
    display:flex;
    flex-direction: column;
    form{
      display:flex;
      flex-direction: column;
      flex: 1 1 0;

      .editor-description{
        flex: 1 1 0;

        textarea{
          height: 100%;
        }
      }
    }
  }

  .editor-preview{
    flex: 1 1 0;
    min-width: 30%;
    overflow: auto;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;

  }



}

.modal{
  display:flex;
  flex-direction:column;

  .modal-submit{
    display:flex;
    justify-content: flex-end;
    padding: 10px;
  }
}

