.thread-container {
  display:flex;
  flex-direction:column;
  flex: 1 1 0;

  .thread-item{
    padding: 20px;
    border: 1px solid var(--color-toolbar-bg);
    margin: 10px;
  }
  .thread-description{
    padding-top: 2px;

    .footer {
      margin-top: 10px;
      display: flex;
      justify-content: flex-end;

      label {
        font-size: 0.9rem;
        color: var(--color-fg);
        cursor: pointer;

        input {
          margin-right: 5px;
        }
      }
    }
  }

  .comment{

    &.child-comment {
    }

    &.same-line-comment {
      margin-left: 65px; /* Align with child comments */
      display: flex;
      flex-direction: column;

      .quote {
        font-size: 0.9rem;
        color: gray;
        margin-bottom: 5px;
      }
    }
  }
}
