.thread-container {
  display:flex;
  flex-direction:column;
  flex: 1 1 0;

  .thread-item{
    padding: 20px;
    border: 1px solid black;
    margin: 10px;
  }

  .comment{
    margin-left: 40px;
  }
}
