.thread-container {
  display:flex;
  flex-direction:column;
  flex: 1 1 0;

  .thread-item{
    padding: 20px;
    border: 1px solid black;
    margin: 10px;
  }
  .thread-description{
    padding-top: 2px;
  }

  .comment{
    margin-left: 40px;

    &.child-comment {
      margin-left: 65px; /* Add 25px more for child comments */
    }

    &.same-line-comment {
      margin-left: 65px; /* Align with child comments */
      display: flex;
      flex-direction: column;

      .quote {
        font-size: 0.9rem;
        color: gray;
        margin-bottom: 5px;
      }
    }
  }
}
